version: "3"
services:
  app:
    build: ./
    volumes:
      - ./:/var/www/
      - ./public:/var/www/html
  nginx:
    image: nginx:1.21.1-alpine
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
      - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf
    links:
      - app

  db:
    image: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: step-group1
      MYSQL_ROOT_PASSWORD: example
    ports:
      - 3306:3306

  adminer:
    image: adminer
    restart: always
    ports:
      - 8090:8080